.project-card {
  border-radius: .5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: 0;
  padding: 0;
  width: 20vw;
}

.project-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.project-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--secondary);
  border-radius: .5rem .5rem 0 0;
}

.project-card-title + h3,
.project-card-title + h3 + ul > h4 {
  margin: 0; 
  padding-left: 1rem;
}