:root {
  --hover-text: #6d28d9;
  --primary: #374151;
  --secondary: #729ac2;
  background-color: white;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: 1 / 1 / 2 / -1;

}

.heading {
  width: clamp(12ch, 25ch, 40ch);
}

.main {
  padding: 1rem;
  padding-top: .5rem;
  border-radius: 5px;
  overflow-y: scroll;
}

.page-description {
  margin-bottom: .25rem;
}

.page-description > ion-icon {
  height: 2rem;
  width: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}


.open-tool-span {
  border-radius: .5rem;
  padding: .25rem;
  float: right;
}

dialog[type="modal"] {
  resize: both;
  min-width: 300px;
  min-height: 300px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  
}
